/*
paleta dee colores
Gulf Stream
#82b5b5

White
#ffffff

Ebb
#f2eded

Botticelli
#c5e2e2

Ship Cove
#6e91b4
a
*/
*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
:root {
    --primary-color: #82b5b5;
    --secondary-color: #f2eded;
    --text-dark: #333;
    --text-light: #f9f9f9;
}

html{
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


body{
    margin: 0;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;

}

main{
    display: block ;
    background: var(--secondary-color);
    min-width: 100%;
    width: auto;
}
footer{
    background-color: #010101;
    display: flex;
    min-width: 100%;
    width: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}
header{
    width: 100vw;
}

/*---nav----*/
.contenido{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    background-color: #000000; /* opcional */
}
.contenido a svg{
    cursor: pointer;
    margin: 0.5rem;
    margin-left: 1rem;
    padding: 0.5rem;
    transition: stroke 1s ease-in-out, transform 0.5s ease;; 

}
.contenido a svg:hover{
    stroke: var(--primary-color);
    transition: stroke 1s ease-in-out,
                transform 0.5s ease;
    transform: scale(1.25);
}

.img_logo{
    height: 60px;
    width: 60px;
}

.barra_navegadora{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-left: 200px;
}

.barra_navegadora li{
    list-style: none;
    background-color: transparent;
    margin: 8px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}

.barra_navegadora li a {
    color: var(--text-light);
    text-decoration: none;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.5s ease;
}
.barra_navegadora li a:hover {
    
    color: var(--primary-color);
    transition: color 0.5s ease;
}

/*-------footer----------*/

.img_logo_footer{
    
    height: 100px;
    width: 100px;
    
}


.mitad-izq{
    display: flex;
    width: 50%;
    min-height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.mitad-izq li{
    display: flex;
    list-style: none;
    background-color: transparent;
    margin-right: 250px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
}
.mitad-izq li svg {
    color: var(--text-light);
    font-weight: bold;
    font-size: 14px;
    margin-right: 0.5rem;
}

.mitad-izq li a {
    color: var(--text-light);
    font-weight: bold;
    font-size: 14px;
}

/*---*/
.mitad-der{
    display: flex;
    width: 50%;
    min-height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.mitad-der ul{
    padding-left: 0;
    padding-right: 40px;
}
.mitad-der li{
    list-style: none;
    background-color: transparent;
    margin-left: 250px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem;
}

.mitad-der li a {
    color: var(--text-light);
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.5s ease;
    
}

.mitad-der li a:hover{
    color: var(--primary-color);
    transition: color 0.5s ease;
}

/*--------*/
.Informar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    background: var(--primary-color);
    color: var(--text-light);
    font-size: 1.1rem;
    font-weight: bold;
    
}

/*------ ventas--------*/
.ventas{
    width: 99vw;
    height: 96vh;
    display: flex;
}

.filtros{
    background: var(--secondary-color);
    width: 20vw;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}
.filtros ul{
    padding-left: 0;
    padding-right: 1.5rem;
        margin-top: 13rem;
}
.filtros ul li{
    list-style: none;
    display: flex;
    height: 36px;
    align-items: center;
    justify-content: flex-start;
}

    

.filtros ul li p{
    font-weight: bold;
    font-size: 1rem;
}

.ventas span{
    background: #7777772c;
    height: 35rem;
    width: 3px;
    position: relative;
    top: 13rem;
    z-index: 1;
}

/*------Cartas------*/

.conteiner-cart{
    width: 74vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.port-venta{
    margin: 1.5rem 2rem;
    height: 22.5rem;
    width: 14rem;
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
    border: solid #9b9b9b54;
    box-shadow: 0px 0px 10px 1px #9b9b9bcc;
    transition: transform 0.5s ease,
                box-shadow 0.5s ease-in-out,
                border 0.5s ease-in-out;
    
}

.port-venta:hover{
    transform: translateY(-10px);
    box-shadow: 0px 0px 10px 1px var(--primary-color);
    border: solid var(--primary-color);
}

.port-venta picture img{
    height: 50%;
    width: 100%;
    
    border-radius: 0.5rem 0.5rem 0 0;
}

.des{
    display: flex;
    height: 50%;
    flex-direction: column;
}

.btn-detalles{
    width: 6rem;
    height: 2rem;
    padding: 0.2rem;
    margin: 0.5rem;
    text-align: center;
    cursor: pointer;
    border: solid 1px #9b9b9b54;
    transition: background 0.5s ease;
}
.btn-detalles:hover{
    background: #b7b7b7;
}

.btn-agregar{
    padding: 0.5rem;
    border:none;
    border-top: solid 1px #9b9b9b54;
    border-radius: 0 0 0.3rem 0.3rem;
    cursor: pointer;
    transition: background 0.5s ease;
}
.btn-agregar:hover{
    
    background: var(--primary-color);
}

.precio-Detalles{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.des-precio{
   height: 3.5rem;
    margin: 0.5rem 1rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-weight: bold;
    font-size: 1.2rem;
}

.des-nombre {
    height: 3.5rem;
    margin: 0.5rem 0.5rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-weight: bold;
}



/*Carrito*/

.Carrito{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Carrito h2{
    margin: 3rem auto;
    padding: 2rem;
    width: 10rem;
    text-align: center;
    background: white;
    border-radius: 1rem;
    box-shadow: 0px 10px 10px 1px var(--primary-color);
}

.tabla-car{
    width: 710px;
    margin: 1rem;
    padding: 2rem;
    background: white;
    border-radius: 1rem;
    border-collapse: collapse;
}
.tr-head th{
    padding: 1rem;
}

.prod-carrito{
    border-top: solid 1px var(--primary-color);
    border-bottom: solid 1px var(--primary-color);
}

.prod-carrito th{
    text-align: center;
    padding: 0.5rem;
}
.prod-carrito th p {
    
    overflow: hidden;
    text-overflow: ellipsis;
    width: 10rem;
}

.prod-carrito th button{
    background: white;
    border: solid 1px var(--primary-color);
    padding: 0.3rem;
    margin: 0 0.5rem;
    transition: transform 1s ease;
}

.prod-carrito th button:focus{
    transform: scaleZ(1.5);
    transition: transform 1s ease;
}

.prod-carrito picture img{
    width: 50px;
    height: 50px;
}

.tabla-car tfoot tr th{
    padding: 1rem;
}

.button-pedir{
    border: solid 1px var(--primary-color);
    height: 2rem;
    width: 4rem;
    font-size: 14px;
    font-weight: bold;
    background: transparent;
    cursor: pointer;
    transition: background 0.5s ease,
                transform 0.5s ease,
                border 0.5s ease;
}
.button-pedir:hover{
    background: var(--primary-color);
    transform: scale3d(1.1, 1.1, 1);
    box-shadow: 0px 0px 10px 1px var(--primary-color);
}

.button-pedir:active{
    border: solid 1px var(--text-dark);
    transform: scale3d(1, 1, 1);
}

/*----Pedir-----*/



.prod-pedido{
    height: 4rem;
    border-top: solid 1px var(--primary-color);
    
}

.prod-pedido th{
    text-align: center;
    padding: 0.5rem;
}
.prod-pedido th p {
    
    overflow: hidden;
    text-overflow: ellipsis;
    width: 10rem;
}

/*---*/
.paginacion {
    text-align: center;
    margin: 20px 0;
}

.btn-pagina {
    margin: 0 5px;
    padding: 6px 12px;
    border: none;
    background-color: var(--text-dark);
    cursor: pointer;
    color: white;
    border-radius: 4px;
}

.btn-pagina.activa {
    background-color: var(--primary-color);
    color: black;
}





/*dialog detalles*/
.modal-producto::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.modal-producto {
  border: none;
  position: fixed;
  margin: auto;
  padding: 2rem 3rem;
  max-width: 70%;
  box-shadow: 0 0 20px var(--primary-color);
}

.modal-contenido {
  display: flex;
  gap: 1rem;
}

.modal-contenido img {
  width: 40%;
  max-height: 362px;
  object-fit: contain;
  border-radius: 8px;
}

.modal-info {
    flex: 1;
    margin: 0 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.modal-descripcion{
    text-align: center;
}
.modal-info div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cerrar-dialog{
    width: 100%;
    height: 2rem;
    padding: 0.2rem;
    margin: 0.5rem;
    text-align: center;
    cursor: pointer;
    border: solid 1px #9b9b9b54;
    transition: background 0.5s ease;
}
.cerrar-dialog:hover{
    background: #b7b7b7;
}

/*dialog Pedidos*/

.modal-pedi{
    flex: 1;
    margin: 0 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.modal-input{
    display: flex;
    flex-direction: column;
}

.modal-input label{
    margin-bottom: 0.5rem;
}

.modal-input input{
    border: solid 1px var(--primary-color);
    height: 1.5rem;
}

.modal-btns{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.modal-btns button{
    width: 100%;
    height: 2rem;
    padding: 0.2rem;
    margin: 0.5rem;
    text-align: center;
    cursor: pointer;
    border: solid 1px #9b9b9b54;
    transition: background 0.5s ease;
}

.cerrar:hover{
    background: #da11118a;
}

.pedir:hover{
    background: #82b5b599;
}




@media (max-width: 1024px){
    header{
        max-width: 100vw;
    }
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100vw;
    }
    footer{
        width: 100vw;
    }
        /*header*/
    .img_logo{
        height: 40px;
        width: 40px;
    }
    .barra_navegadora{
        margin: 10px 0 ;
        margin-left: 20px;
    }

    .barra_navegadora li a {
        padding: 10px;
        margin: 0;
        font-size: 16px;
    }

    /*ventas*/
    
    .ventas {
        height: 100vh; /*Cambiar en el futuro para que no se modifique de aca*/
    }
    .port-venta {
        margin: 1rem 1.5rem;
    }

    /*Carrito*/

    #th-img{
        display: none;
    }

    .Carrito{
        flex-direction: column;
    }

    .tabla-car{
        margin: 0;
        margin-bottom: 3rem;
        width: 850px;
    }

    /*footer*/
    .img_logo_footer{
    
        height: 80px;
        width: 80px;
        
    }
    .mitad-izq{
        align-items: start;
        width: 15rem;
    }
    
    .mitad-izq ul {
        padding-left: 20px;
    }
    .mitad-izq li {
        margin: 0;
    }
    
    /*---*/
    .mitad-der{
        align-items: end;
        width: 15rem;
    }
    .mitad-der ul {
        padding-right: 20px;
    }
    .mitad-der li {
        margin: 0;
    } 

}

@media (max-width: 550px){
    /*header*/
    .img_logo{
        height: 30px;
        width: 30px;
    }
    .barra_navegadora{
        margin: 10px 0 ;
        margin-left: 10px;
    }

    .barra_navegadora li a {
        padding: 10px;
        margin: 0;
        font-size: 12px;
    }
    /*Carrito*/
    .tabla-car{
        width: 0px;
    }
    .prod-carrito th p{
        
        width: 100px;
    }

    .conteiner-cart {
        width: 65vw;
    }

    /*filtros*/
    .filtros{
        margin-left: 1rem;
    }
    .filtros ul li{
        width: 100px;
    }
    .filtros ul {
        
        padding-right: 0;
    }

    /*footer*/
    .img_logo_footer{
    
        height: 80px;
        width: 80px;
        
    }
    .mitad-izq{
        align-items: start;
    }
    
    .mitad-izq ul {
        padding-left: 20px;
    }
    .mitad-izq li {
        margin: 0;
    }

    /*---*/
    .mitad-der{
        align-items: end;
    }
    .mitad-der ul {
        padding-right: 20px;
    }
    .mitad-der li {
        margin: 0;
    } 

}